<h1>Posts</h1>
<hr>
  <div>
  <% @posts.each do |post| %>
    <p>
      <h2><%= post.title %></h2>
      <div>
        Created at: <%= post.created_at.strftime('%d/%m/%Y %H:%M') %>  |
        Submitted by: <%= post.user.forename %> <%= post.user.surname %>
      </div>
      <br>
      <%= post_summary(post) %>
      <br><br>
      <%= link_to 'View', post %>
      <% if @current_user %>
        <%= link_to 'Edit', edit_post_path(post) %>
      <% end %>
      <hr>
    </p>
  <% end %>
  </div>
<br>
