<!DOCTYPE html>
<html>
  <head>
    <title>UltimateBlogProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="content">
      <div id="login">
        <% if @current_user %>
          Logged in as:
          <%= @current_user.forename %>
          <%= @current_user.surname %>
        <% else %>
          <em>Not logged in.</em>
          <%= link_to 'Login', login_path %>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
